<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.cdt.core.language">
		<language class="org.ow2.fractal.mind.cpl.editor.CPLLanguage"
			id="cpl" name="%language.name" >
			<contentType id="org.ow2.fractal.mind.cpl.editor.cplSource" />
		</language>
	</extension>
 
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          base-type="org.eclipse.core.runtime.text"
          file-extensions="cpl"
          id="cplSource"
          name="%content-type.name"
          priority="high">
    </content-type>
 </extension>
 
 <extension
         id="org.eclipse.cdt.ui.ceditor"
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%editor.name"
            icon="icons/obj16/c_file_obj.gif"
            class="org.eclipse.cdt.internal.ui.editor.CEditor"
            contributorClass="org.eclipse.cdt.internal.ui.editor.CEditorActionContributor"
            symbolicFontName="org.eclipse.cdt.ui.editors.textfont"
            id="org.eclipse.cdt.ui.editor.CEditor">
            <contentTypeBinding contentTypeId="org.ow2.fractal.mind.cpl.editor.cplSource"/>

      </editor>
 </extension>
	
</plugin>
