<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 * <copyright>
 *
 * Copyright (c) 2005 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id$
 */
-->
<plugin>

     <extension point="org.eclipse.ui.startup">
      <startup class="org.ow2.fractal.mind.emf.validation.adapter.Startup"/>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.eclipse.emf.validation.examples.adapter.expressions.EObjectPropertyTester"
         type="org.eclipse.emf.ecore.EObject"
         namespace="org.eclipse.emf.validation.examples.adapter"
         properties="ePackage"
         class="org.ow2.fractal.mind.emf.validation.adapter.expressions.EObjectPropertyTester">
      </propertyTester>
   </extension>
   
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="org.eclipse.emf.validation.examples.adapter">
         <enablement>
            <and>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <test
                  property="org.eclipse.emf.validation.examples.adapter.ePackage"
                  value="http://org.ow2.fractal/mind/mind.ecore/0.2.0"/>                  
            </and>
         </enablement>
      </clientContext>
      
      <binding
         context="org.eclipse.emf.validation.examples.adapter"
         category="emf-validation-example"/>
   </extension>
   
   <!-- Define a constraint -->
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category name="%category.name" id="emf-validation-example/adapter">
         %category.description
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://org.ow2.fractal/mind/mind.ecore/0.2.0"/>
         <constraints categories="emf-validation-example/adapter">
            <constraint lang="Java" severity="ERROR" mode="Batch" name="noSubComponentBody" id="noSubComponentBody" statusCode="100"
            	class="org.ow2.fractal.mind.emf.validation.adapter.constraints.SubComponentConstraint">
               <description>"SubComponentError"</description>
               <message>"SubComponent {0} must have at least a body or reference"</message>
               <!-- This constraint applies to any library element. -->
               <target class="SubComponentDefinition"/>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
